In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/dinhvietcuong1996/Lab-MachineLearningCourse/master/Lab02/House_Price_2.csv")

In [214]:
df

    width  length         price
0      28      97  3.350184e+08
1      21      62  2.298295e+08
2      27      64  2.603552e+08
3       5      92  2.064708e+08
4      13      84  2.339808e+08
..    ...     ...           ...
95     23      94  3.055955e+08
96     10      69  1.890808e+08
97     11      35  1.305380e+08
98      8      66  1.701948e+08
99     18      28  1.455254e+08

[100 rows x 3 columns]

**Normalized data**

In [215]:
x_mean = np.mean(df, axis=0)
x_mean

width     1.691000e+01
length    5.977000e+01
price     2.046623e+08
dtype: float64

In [216]:
std = np.std(df, axis=0, ddof=1)
std

width     7.254528e+00
length    2.278483e+01
price     6.439491e+07
dtype: float64

In [217]:
for col in df.columns:
  df[col] = (df[col] - x_mean[col])/std[col]
df

       width    length     price
0   1.528700  1.633982  2.024323
1   0.563786  0.097872  0.390825
2   1.390855  0.185650  0.864865
3  -1.641733  1.414538  0.028085
4  -0.538974  1.063427  0.455292
..       ...       ...       ...
95  0.839476  1.502315  1.567410
96 -0.952509  0.405094 -0.241968
97 -0.814664 -1.087127 -1.151089
98 -1.228198  0.273428 -0.535253
99  0.150251 -1.394349 -0.918348

[100 rows x 3 columns]

In [0]:
X = df[['width','length']].values   
X = X.reshape(-1, 2) 
            
y = df['price'].values 
y = y.reshape(-1,1)

**Dùng Gradient Descent giải Linear Regression**

In [219]:
import numpy as np

a, b, c = 0.01, 0.1, 1.0           ## khởi tạo a, b, c

n_iter = 10000           ## số vòng lặp cập nhật a, b, c
lmda = 0.0000001          ## learning rate
for ii in range(n_iter):
    error = y - a*X[:,0] - b*X[:,1] - c
    a = a - 2* lmda * np.mean(error*(-X[:,0]))
    b = b - 2* lmda * np.mean(error*(-X[:,1]))
    c = c - 2* lmda * np.mean(error*(-1))
    if ii % 1000 == 0:
        loss = np.mean(np.square(y - a*X[:,0]-b*X[:,1]-c))
        print("Loss at iter {}: {}".format(ii, loss))
loss = np.mean(np.square(y - a*X[:,0]-b*X[:,1]-c))
print("Final loss: ", loss)

Loss at iter 0: 2.0004518421546673
Loss at iter 1000: 2.000047397218829
Loss at iter 2000: 1.9996431142494868
Loss at iter 3000: 1.9992389931817458
Loss at iter 4000: 1.998835033950737
Loss at iter 5000: 1.9984312364916113
Loss at iter 6000: 1.998027600739547
Loss at iter 7000: 1.9976241266297523
Loss at iter 8000: 1.9972208140974632
Loss at iter 9000: 1.9968176630779344
Final loss:  1.9964150764154023

In [0]:
g_a, g_b, g_c = a,b,c

In [221]:
print(g_a, g_b, g_c)

0.009934985587632866 0.09979768261896511 0.9980019984677346

In [222]:
error.shape, X.shape

((100, 100), (100, 2))

**Hoặc:**

In [0]:
import numpy as np
Z = np.concatenate([X, np.ones((X.shape[0],1))], axis=-1)

In [224]:
theta = np.asarray([[0.01], [0.1], [1.0]])     ## khởi tạo theta

n_iter = 10000           ## số vòng lặp cập nhật theta
lmda = 0.0000001          ## learning rate
for ii in range(n_iter):
    error = y - np.matmul(Z, theta)
    theta =  theta - 2/Z.shape[0]*lmda*np.matmul(-Z.T, error)   ##cập nhật theta
    if ii % 1000 == 0:
        loss = np.mean(np.square(y - np.matmul(Z, theta)))
        print("Loss at iter {}: {}".format(ii, loss))
# loss = np.mean(np.square(y - (Z[:,0])*theta[0] - (Z[:,1])*theta[1] - (Z[:,2])*theta[2]))
loss = np.mean(np.square(y - np.matmul(Z,theta)))
print("Final loss: ", loss)
print("Final theta: ", theta)

Loss at iter 0: 1.820672843023224
Loss at iter 1000: 1.819874857109086
Loss at iter 2000: 1.8190772247399634
Loss at iter 3000: 1.8182799457577172
Loss at iter 4000: 1.8174830200042837
Loss at iter 5000: 1.816686447321662
Loss at iter 6000: 1.8158902275519244
Loss at iter 7000: 1.8150943605372174
Loss at iter 8000: 1.8142988461197638
Loss at iter 9000: 1.813503684141846
Final loss:  1.8127096690796107
Final theta:  [[0.01136716]
 [0.10145011]
 [0.998002  ]]

**So sánh kết quả (MSE) với Exact Solution và kết quả từ Sklearn**

In [225]:
## exact solution
import numpy as np
Z = np.concatenate([X, np.ones((100,1))], axis=-1)   
Z = Z.astype(np.float64)       

## giá trị a, b và c tìm được
T = np.matmul(np.matmul(np.linalg.inv(np.matmul(Z.T,Z)), Z.T), y)
e_a, e_b, e_c = T[0][0], T[1][0], T[2][0]
print(e_a, e_b, e_c)

0.5624324788631632 0.7068021204421018 -2.7755575615628914e-17

In [226]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression().fit(X, y)                ## train LinearRegression 
sk_a, sk_b, sk_c = lr.coef_[0][0], lr.coef_[0][1], lr.intercept_[0]    ## lấy các tham số học được
print("a = {}, b = {}, c = {}".format(sk_a, sk_b, sk_c))

a = 0.562432478863163, b = 0.7068021204421017, c = -2.4583937605884242e-17

In [227]:
print("GD MSE: ", np.mean(np.square(y - g_a*X[:,0] - g_b*X[:,1] - g_c)))
print("Exact SOl MSE: ", np.mean(np.square(y - e_a*X[:,0] - e_b*X[:,1] - e_c)))
print("SK MSE: ", np.mean(np.square(y - sk_a*X[:,0] - sk_b*X[:,1] - sk_c)))

GD MSE:  1.9964150764154023
Exact SOl MSE:  1.9779189943360433
SK MSE:  1.9779189943360431